# description: NRPE (Nagios Remote Plugin Executor)
service nrpe
{
    disable         = no
    socket_type     = stream
    port            = {{ nrpe_port }}
    wait            = no
    user            = {{ nrpe_user }}
    group           = {{ nrpe_group }}
    server          = {{ nrpe_path }}
    server_args     = -c {{ nrpe_config_path }} --inetd
    only_from       = 127.0.0.1
    log_on_success  = 
}